a{
    font-family: "Sofia", sans-serif;
    font-size: 30px;
}
.navbar{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(100,21,21,1) 0%, rgba(252,176,69,1) 100%);
}