/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap\dist\css\bootstrap.min.css"; */

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
body {
  font-family: "Poppins", sans-serif;

  background-repeat: no-repeat;

  background-size:cover;

  background-image: url("src\assets\Images\front.jpg");
}
